<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">


	<title>Enhance the editor experience with custom list view layouts</title>
<meta name="description" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/24days-archive.css">
	<link rel="apple-touch-icon" href="/assets/24days-touch-icon.png">
	


</head>
<body>




<section class="page"><main class="article"><header><h1 class="header">Custom List View Layouts</h1>
      <p class="byline"> by Mads Rasmussen, <span class="pubdate">posted on <time datetime="2016-12-06">Dec 6, 2016</time></span></p></header><div class="notification warning">
      <h2>Heads Up!</h2>
      <p>
					This article is several years old now, and much has happened since then,
					so please keep that in mind while reading it.
				</p>
    </div>
    <div class="content-column">
      <p class="teaser"><span style="font-weight: 400;">To me, </span><span style="font-weight: 400;">Umbraco has always been about creating a good content editing experience and therefore one of </span><span style="font-weight: 400;">my favorite features in Umbraco is the custom property editor. </span><span style="font-weight: 400;">This makes it possible to tailor the editing experience for a specific piece of content so it becomes easy to understand and helps the editor through the editing process.</span></p>
<p class="intro"><span style="font-weight: 400;">With Umbraco 7.4 a new feature was introduced - the custom list view layout. It’s a feature that haven’t got much attention and it might be the lack of documentation, guilty as charged. It is a feature which, with very little effort, can be really powerful. Custom list view layouts gives us all the features of a list view - copy, delete, search, pagination etc. but with the possibility to make a custom layout that is 100% tailored the data we want to present.</span></p>
<p><span style="font-weight: 400;">Umbraco already ships with four list view layouts today and I am pretty sure you already know about them. Two for the content section and two for the media section.</span></p>
<h3>Content list view</h3>
<p>For the content section we have the well known “table”-layout and in version 7.4 a new “card”-layout was introduced.</p>
<p><span style="font-weight: 400;"><img style="width: 770px; height: 402px;" src="/archive/media/2016/umbraco-content-list-view.jpg?width=770&amp;height=402" alt="" rel="1332" data-id="1332"></span></p>
<p><img style="width: 770px; height: 402px;" src="/archive/media/2016/umbraco-content-list-view-cards.jpg?width=770&amp;height=402" alt="" rel="1329" data-id="1329"></p>
<h3>Media list view</h3>
<p><span style="font-weight: 400;">The media section comes with a media grid, which is rewritten and redesigned in Umbraco 7.4, and a “table”-layout, similar to the content section, for fast and easy image data comparison.</span></p>
<p><span style="font-weight: 400;"><img style="width: 770px; height: 402px;" src="/archive/media/2016/umbraco-media-list-view.jpg?width=770&amp;height=402" alt="" rel="1338" data-id="1338"></span></p>
<p><img style="width: 770px; height: 402px;" src="/archive/media/2016/umbraco-media-list-view-grid.jpg?width=770&amp;height=402" alt="" rel="1337" data-id="1337"></p>
<p><span style="font-weight: 400;">One of the cool things about those four layouts is they are all built on the same foundation as we are going to use when we make our own list view layout. This </span><span style="font-weight: 400;">gives us idea of how flexible they are and how much we are able to customise them. </span><span style="font-weight: 400;">This also means that if you don’t like how the default layouts looks/works, it is easy to swap them out with your own.</span></p>
<p><span style="font-weight: 400;">Today we are going to set up a custom list view layout for a custom list view. In this small example we will bring the christmas spirit into Umbraco with a collection of famous christmas songs.</span></p>
<h2>Setting up the document types</h2>
<p><span style="font-weight: 400;">First we are going to set up two super basic document types. One to collect information about a christmas song and one as a repository for the list view.</span></p>
<p><span style="font-weight: 400;">Our first document type is called “Song” and has properties for artist, album, release year, genre and an image. It looks like this:</span></p>
<p><span style="font-weight: 400;"><img style="width: 770px; height: 402px;" src="/archive/media/2016/umbraco-document-type-song.jpg?width=770&amp;height=402" alt="" rel="1336" data-id="1336"></span></p>
<p><span style="font-weight: 400;">The second document type is called “Songs”. For this document type we set up a custom list view.</span></p>
<p><span style="font-weight: 400;"><img style="width: 770px; height: 402px;" src="/archive/media/2016/umbraco-document-type-list-view.jpg?width=770&amp;height=402" alt="" rel="1335" data-id="1335"></span></p>
<p> </p>
<h3>Adding the custom layout</h3>
<p><span style="font-weight: 400;">To add our custom layout we find the layouts section in the list view configuration. We are able to pick an icon, give the layout a name and enter the path to the html file we will add in a moment. If we want our new list view as the default view for this document type, we can reorder the list view layouts so our new layout is the first in the list and if we didn’t want the other two layouts available for the editor, we could easily uncheck these so they will not show up in the list view.</span></p>
<p><img style="width: 770px; height: 228px;" src="/archive/media/2016/umbraco-document-type-list-view-layout-settings.jpg?width=770&amp;height=228" alt="" rel="1334" data-id="1334"></p>
<h3>Configuring the correct data to show in the view</h3>
<p><span style="font-weight: 400;">Another important thing for our custom list view is the data we want to present. In the list view configuration we are able to show the data we have entered for each song. We do this by adding the fields from our “song” document type. In my example I want to show the artist, release year, genre and the image. This is how the configuration looks like when it’s done.</span></p>
<p><span style="font-weight: 400;"><img style="width: 772px; height: 301px;" src="/archive/media/2016/umbraco-document-type-list-view-column-settings.jpg?width=772&amp;height=301" alt="" rel="1333" data-id="1333"></span></p>
<h2>Show me some code</h2>
<p><span style="font-weight: 400;">Now the foundation is in place and we are ready to start to add some code. For this layout we need a package manifest to load in our javascript and css, a html view with a controller and some css to make it all look pretty. If you are new to how to extend the back office please take a look at the <a rel="noopener" href="https://our.umbraco.com/documentation/Tutorials/Creating-a-Property-Editor/" target="_blank">documentation for adding a custom property editor</a>. We follow the same principles in this example.</span></p>
<h3>The package manifest</h3>
<p><span style="font-weight: 400;">A super basic manifest which loads in the javascript and css file.</span></p>
<pre><code class="language-json">{
    javascript: [
        '~/App_Plugins/SongsLayout/songslayout.controller.js'
    ],
    css: [
        '~/App_Plugins/SongsLayout/songslayout.css'
    ]
}
</code></pre>
<h3>The HTML</h3>
<p><span style="font-weight: 400;">The view is also pretty straight forward. First we bind the controller to the view and then loops through all the available items in the list. I have added click handler for selecting the item and a click handler for opening the item details.</span></p>
<pre><code class="language-markup">&lt;div ng-controller="My.ListView.Layout.SongsLayoutController as vm"
     ng-if="items"
     class="my-songs-layout__cards"&gt;

   &lt;div
      class="my-songs-layout__card"
      ng-repeat="item in items"
      ng-class="{'-selected':item.selected}"
      ng-click="vm.selectItem(item, $event, $index)"
      ng-style="{'background-image': 'url(' + item.imageThumbnail + ')'}"&gt;

      &lt;div class="my-songs-layout__overlay"&gt;
        &lt;div class="my-songs-layout__released"&gt;{{ item.released }}&lt;/div&gt;
        &lt;div class="my-songs-layout__artist"&gt;{{ item.artist }}&lt;/div&gt;
        &lt;div class="my-songs-layout__name"&gt;{{ item.name }}&lt;/div&gt;
        &lt;div class="my-songs-layout__genre"&gt;{{ item.genre }}&lt;/div&gt;
      &lt;/div&gt;

      &lt;div class="my-songs-layout__button" ng-click="vm.clickItem(item)"&gt;View song&lt;/div&gt;

   &lt;/div&gt;

&lt;/div&gt;
</code></pre>
<h3>The controller</h3>
<p><span>I have added inline comments for the controller. I think that is the easiest way to see what happens. If you want to read more about the list view data and the listViewHelper functions you can see it all in the <a rel="noopener" href="https://our.umbraco.org/apidocs/ui/#/api/umbraco.services.listViewHelper" target="_blank">back office UI Api documentation</a>.</span></p>
<pre><code class="language-javascript">(function () {
    "use strict";

    function SongsLayoutController($scope, listViewHelper, $location, mediaResource, mediaHelper) {

        var vm = this;

        vm.selectItem = selectItem;
        vm.clickItem = clickItem;

        // Init the controller
        function activate() {

            // Load background image for each item
            angular.forEach($scope.items, function (item) {
                getBackgroundImage(item);
            });

        }

        // Load background image
        function getBackgroundImage(item) {
            mediaResource.getById(item.image)
                .then(function (media) {
                    // find the image thumbnail
                    item.imageThumbnail = mediaHelper.resolveFile(media, true);
                });
        }

        // Item select handler
        function selectItem(selectedItem, $event, index) {

            // use the list view helper to select the item
            listViewHelper.selectHandler(selectedItem, index, $scope.items, $scope.selection, $event);
            $event.stopPropagation();

        }

        // Item click handler
        function clickItem(item) {

            // change path to edit item
            $location.path($scope.entityType + '/' + $scope.entityType + '/edit/' + item.id);

        }

        activate();

    }

    angular.module("umbraco").controller("My.ListView.Layout.SongsLayoutController", SongsLayoutController);

})();
</code></pre>
<h3>The CSS</h3>
<p><span style="font-weight: 400;">And some css. I do not have that much to say about this :)</span></p>
<pre><code class="language-css">.my-songs-layout__cards {
    display: flex;
    flex-wrap: wrap;
}

.my-songs-layout__card {
    background-color: #ffffff;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 200px;
    border: 5px solid transparent;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin: 10px;
    user-select: none;
    position: relative
}

.my-songs-layout__card.-selected {
    border-color: #2e8aea;
}

.my-songs-layout__card:hover {
    cursor: pointer;
}

.my-songs-layout__overlay {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.my-songs-layout__released {
    margin-bottom: 5px;
    opacity: 0.5;
}

.my-songs-layout__genre {
    font-size: 11px;
}

.my-songs-layout__name {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3em;
}

.my-songs-layout__button {
    background: #2e8aea;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    padding: 5px 15px;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    align-self: flex-start;
}

.my-songs-layout__button:hover {
    background: #177ce8;
}
</code></pre>
<h2>The final result</h2>
<p><img style="width: 770px; height: 402px;" src="/archive/media/2016/umbraco-content-list-view-songs.jpg?width=770&amp;height=402" alt="" rel="1331" data-id="1331"></p>
<p><img style="width: 770px; height: 402px;" src="/archive/media/2016/umbraco-content-list-view-songs-selected.jpg?width=770&amp;height=402" alt="" rel="1330" data-id="1330"></p>
<p>So there you have it, and easy way to make the editing experience a bit better by giving your list view a custom layout. The new layout makes it easy to navigate the christmas songs and makes each song easy recognizable. I hope this simple example gives you some ideas how you might be able to tweak a list view in your own Umbraco setup.</p>
<p><strong>Merry christmas and happy hacking.</strong></p>
    </div><footer><ul class="tags">
        <li><a rel="tag" href="https://24days.in/umbraco-cms/tags/v7/" title="See all articles tagged with v7">v7</a></li>
        <li><a rel="tag" href="https://24days.in/umbraco-cms/tags/angular/" title="See all articles tagged with Angular">Angular</a></li>
        <li><a rel="tag" href="https://24days.in/umbraco-cms/tags/backoffice/" title="See all articles tagged with Backoffice">Backoffice</a></li>
        <li><a rel="tag" href="https://24days.in/umbraco-cms/tags/frontend/" title="See all articles tagged with Frontend">Frontend</a></li>
      </ul></footer><section class="bios"><div class="bio">
        <div class="gravatar" title="Mads N. Rasmussen"><img src="//gravatar.com/avatar/bc196379513a5efe165b9e1571b8d5a8.jpg?d=mm&amp;s=150" srcset="//gravatar.com/avatar/bc196379513a5efe165b9e1571b8d5a8.jpg?d=mm&amp;s=300 2x" width="150" height="150"></div>
        <h1>Mads N. Rasmussen</h1>
        <p>Mads is on Twitter as <a href="//twitter.com/madsrasmussen" title="Mads N. Rasmussen on Twitter" rel="author">@madsrasmussen</a></p>
      </div></section><section class="comments"><div id="disqus_thread"></div></section></main><nav class="dates-navbar"><a href="/umbraco-cms/2016/" class="home-link"><span class="scr-text">Home</span></a><ol>
      <li><a href="/umbraco-cms/2016/umbraco-forms-and-newsletter-studio/" title="Umbraco Forms and Newsletter Studio"><span class="scr-text">Umbraco Forms and Newsletter Studio</span></a></li>
      <li><a href="/umbraco-cms/2016/moving-to-umbracoland/" title="Moving to Umbracoland"><span class="scr-text">Moving to Umbracoland</span></a></li>
      <li><a href="/umbraco-cms/2016/pipeline-crm-and-umbraco-forms/" title="Pipeline CRM and Umbraco Forms"><span class="scr-text">Pipeline CRM and Umbraco Forms</span></a></li>
      <li><a href="/umbraco-cms/2016/modular-development/" title="Modular Development"><span class="scr-text">Modular Development</span></a></li>
      <li><a href="/umbraco-cms/2016/custom-property-editor-tutorial/" title="Custom Property Editor Tutorial"><span class="scr-text">Custom Property Editor Tutorial</span></a></li>
      <li class="selected"><a href="/umbraco-cms/2016/custom-list-view-layouts/" title="Custom List View Layouts"><span class="scr-text">Custom List View Layouts</span></a></li>
      <li><a href="/umbraco-cms/2016/cms-for-the-internet-of-things/" title="CMS for the Internet Of Things"><span class="scr-text">CMS for the Internet Of Things</span></a></li>
      <li><a href="/umbraco-cms/2016/custom-data-and-examine-searching/" title="Custom data and Examine searching"><span class="scr-text">Custom data and Examine searching</span></a></li>
      <li><a href="/umbraco-cms/2016/getting-comfortable-with-umbraco-cloud/" title="Getting comfortable with Umbraco Cloud"><span class="scr-text">Getting comfortable with Umbraco Cloud</span></a></li>
      <li><a href="/umbraco-cms/2016/unique-sites-using-theming/" title="Unique Sites Using Theming"><span class="scr-text">Unique Sites Using Theming</span></a></li>
      <li><a href="/umbraco-cms/2016/importance-of-side-projects/" title="Importance of side projects"><span class="scr-text">Importance of side projects</span></a></li>
      <li><a href="/umbraco-cms/2016/first-time-with-umbraco-cloud/" title="First time with Umbraco Cloud"><span class="scr-text">First time with Umbraco Cloud</span></a></li>
      <li><a href="/umbraco-cms/2016/friendly-backoffice/" title="Friendly Backoffice"><span class="scr-text">Friendly Backoffice</span></a></li>
      <li><a href="/umbraco-cms/2016/using-your-voice-better/" title="Using your voice better"><span class="scr-text">Using your voice better</span></a></li>
      <li><a href="/umbraco-cms/2016/continuous-deployment-of-umbraco/" title="Continuous Deployment of Umbraco"><span class="scr-text">Continuous Deployment of Umbraco</span></a></li>
      <li><a href="/umbraco-cms/2016/umbraco-edge-case-stories/" title="Umbraco edge case stories"><span class="scr-text">Umbraco edge case stories</span></a></li>
      <li><a href="/umbraco-cms/2016/web-components/" title="Web Components"><span class="scr-text">Web Components</span></a></li>
      <li><a href="/umbraco-cms/2016/the-content-tree-is-dead/" title="The Content Tree is Dead"><span class="scr-text">The Content Tree is Dead</span></a></li>
      <li><a href="/umbraco-cms/2016/authenticating-with-ad-fs-and-identityextensions/" title="Authenticating with AD FS and IdentityExtensions"><span class="scr-text">Authenticating with AD FS and IdentityExtensions</span></a></li>
      <li><a href="/umbraco-cms/2016/getting-started-with-modelsbuilder/" title="Getting started with ModelsBuilder"><span class="scr-text">Getting started with ModelsBuilder</span></a></li>
      <li><a href="/umbraco-cms/2016/umbraco-extensibility/" title="Umbraco extensibility"><span class="scr-text">Umbraco extensibility</span></a></li>
      <li><a href="/umbraco-cms/2016/adding-umbraco-to-existing-site/" title="Adding Umbraco to existing site"><span class="scr-text">Adding Umbraco to existing site</span></a></li>
      <li><a href="/umbraco-cms/2016/polls-in-umbraco/" title="Polls in Umbraco"><span class="scr-text">Polls in Umbraco</span></a></li>
      <li><a href="/umbraco-cms/2016/into-the-cloud/" title="Into the Cloud"><span class="scr-text">Into the Cloud</span></a></li>
    </ol></nav></section>


<script type="module" src="/assets/21D3/ipuzzler.js"></script>
<script defer src="/assets/21D3/libs.min.js"></script>
<script defer src="/assets/21D3/app.js"></script>

</body>
</html>
